* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Be Vietnam', sans-serif;

}
/* ------------------------- Navigation Bar -------------------------*/
.nav-bar{
    z-index: 100;
    height: 50px;
    background-color: #202020;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100; 
    top: 50px;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    list-style: none;
}

.nav-links li a {
    color: white;
    padding: 30px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.nav-links li{
    text-align: center;
    opacity: 0;
    width: 100%;
}

.nav-links li:nth-child(1){
    transition: all 0.5s ease 0.1s;
}

.nav-links li:nth-child(2){
    transition: all 0.5s ease 0.2s;
}

.nav-links li:nth-child(3){
    transition: all 0.5s ease 0.3s;
}

.nav-links li:nth-child(4){
    transition: all 0.5s ease 0.4s;
}

li.fade{
    opacity: 1;
}

.line {
    width: 30px;
    height: 4px;
    margin: 5px;
    background-color: white;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
}

.open-nav{
    background-color: rgba(0, 0, 0, 0.336);
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}


/*------------------------- Page Sections -------------------------*/
.page {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.section {
    width: 100%;
    padding: 0 .8rem;
    min-height: 300px;
    display: flex;
}

hr{
    margin: 10px 0;
}

.half-hr{
    width: 80%;
    margin: 10px auto;
}
/*------------------------- About -------------------------*/
#about {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);    font-size: 1.3rem;
    color: white;
    padding: 1rem .8rem;
}

#about h1{
    font-size: 2rem;
    background: white;
    color: black;
    max-width: 280px;
    padding: 0 4px;
    margin-top: 4px
}

.about-text hr{
    max-width:290px;
}

.about-text{
    
}

/*------------------------- Skills -------------------------*/
.center-text{
    margin: 0 auto;
    text-align: center;
}

#skills {
    display:flex;
    flex-direction: column;
    padding: .6rem .8rem;
}

.skill-tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0;
}

.tool{
    font-size: 1.1rem;
    text-align: center;
    padding: 9px;
    margin: 3px;
    width: 120px;
    height: 50px;
    background-color: salmon;
    color: white;
}

.html-icon{ /*HTML*/
    background-color: #e85d25;
}
.css-icon{ /*CSS*/
    background-color: #249ddb;
}
.js-icon{ /*JavaScript*/
    background-color: #f0d91d;
    color: black;
}
.jquery-icon{ /*jQuery*/
    background-color: #0865a6;
}
.node-icon{ /*Node.js*/
    background-color: #8cc03d;
    color: #282923;
}
.express-icon{ /*Express*/
    background-color: #323232;
}
.git-icon{ /*Git*/
    background-color: #e94f32;
}
.mocha-icon{ /*Mocha.js*/
    background-color: #896446;
}
.chai-icon{ /*Chai.js*/
    background-color: #f8e5a9;
    color: #9e0701;
}
/*------------------------- Portfolio -------------------------*/

#portfolio {
    display: flex;
    flex-direction: column;
}

#portfolio .github-link{
    font-size: 1.5rem;
    color: rgb(78, 78, 231);
    font-weight: bolder;
}

#portfolio .proyecto-container{
    display: flex;
    flex-direction: column;
}

#portfolio .proyecto-container img{
    /* height: 18rem; */
    max-width: 18rem;
    margin: 15px auto;
}


/*------------------------- Contact -------------------------*/
#contact {
    background-color: #202020;
}

/*------------------------- Media Queries -------------------------*/

@media only screen and (max-width: 305px) {
    body {
        background-color: #F09A9D;
    }

    #about h1{
        max-width: 260px;
        font-size:1.8rem;
    }

    .about-text{
        font-size: 1.2rem;
    }
}
/*------------ Mobile Styles ------------*/
@media only screen and (min-width: 399px) {
    body {
        background-color: #F09A9D;
    }

    #about h1{
        max-width: 290px;
    }


}

/*------------ Tablet Styles ------------*/
@media only screen and (min-width: 426px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E;
        /* Yellow */
    }
    #portfolio .proyecto-container img{
        /* height: 18rem; */
        max-width: 24rem;
        margin: 15px auto;
    }


}

/*------------ Desktop Styles ------------*/
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF;
        /* Blue */
    }
    #about{
        padding: 2rem 8rem;
    }
    .section#skills{
        min-height: 200px;
    }
    #skills{
        padding: 0 8rem;
        padding-top: 1rem;
    }
    .skill-tools{
        margin: 0;
        padding-top: 1rem;
    }
    #portfolio{
        padding: 2rem 8rem;
    }
    #about{
        padding: 2rem 8rem;
    }


    #portfolio .proyecto-container img{
        /* height: 18rem; */
        max-width: 30rem;
        margin: 15px auto;
    }
}